@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#navhead > ._nav {
  box-shadow: 10px 8px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 360px){
  #navhead > ._nav {
    padding: 10px 0px;
  }
}

#navhead > ._nav > div {
  display: flex;
  gap: 10px;
  align-items: center;
}


._nav .earning {
  display: flex;
  gap: 10px;
}



.profileDrop {
  float: left;
  overflow: hidden;
}

.payDrop {
  float: left;
  overflow: hidden;
}
.profileDrop > .dropbtn {
  border: none;
  outline: none;
  color: black;
  /* padding-right: 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  /* Important for vertical align on mobile phones */
}


.payDrop > .paydropbtn {
  border: none;
  outline: none;
  color: black;
  /* padding-right: 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  /* Important for vertical align on mobile phones */
}

@media screen and (max-width: 500px) {
  .profileDrop > .dropbtn {
    padding-right: 0px;
  }
}

.profileDrop > .dropbtn > .astrologer {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  z-index:999;
}

.profileDrop > .drop {
  display: none;
  position: absolute;
  right: 4vmin;
  background-color: #fffefe;
  min-width: 120px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2000;
  transition: all 3s;
  /* z-index:999; */
}
.drop a,
.drop p {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding:6px 12px;
  margin: 10px;
  z-index:2000;
  transition: all 50ms ease-in 5ms;
}

.drop a:hover,
.drop p:hover {
  background-color: #229e48;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  /* padding:10px 0px; */




}
.payDrop > .paydrop {
  display: none;
  position: absolute;
  right: 2.5vmin;
  background-color: #fffefe;
  min-width: 120px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  transition: all 3s;
  /* z-index:999; */
}
.paydrop a,
.paydrop p {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding:6px 12px;
  margin: 10px;
  transition: all 50ms ease-in 5ms;
}

.paydrop a:hover,
.paydrop p:hover {
  background-color: #229e48;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  /* padding:10px 0px; */




}
#payDrop > .payment-content {
  display: block;
}
.profileDrop > .show-content {
  display: block;
}

/* canvas */
.canvas {
  display: none;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #229e48;
  color:#fff;
  overflow-x: hidden;
  text-align: justify;
  transition: 0.5s;
}

.openCanvas {
  display: block;
  
  /* transition: all 50ms ease-in 5ms; */
}

.canvas > .logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
  /* margin-left: -25px; */
  padding: 15px 20px;
  background-color: #fff;
}

.canvas > .divider {
  height: 1px;
  background-color: white;
}

.canvas > .side-menu {
  height: 73%;
}

.canvas > .side-menu > .side-link {
  padding: 10px 20px;
  margin: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 50ms ease-in 5ms;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.canvas > .side-menu > .side-link:hover,
.canvas > .side-menu > .history-container > .hist-link:hover {
  background-color: #ffff;
  border-radius: 5px;
  color:#229e48;
}

.canvas .side-menu .history-container .hist-link {
  padding: 10px 20px;
  margin: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 50ms ease-in 5ms;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.canvas > .side-menu > .active-drop {
  background-color: #ffff;
}

.canvas .side-menu .history-container {
  display: none;
  background-color: #229e48;
  margin-left: 50px;
  margin-top: -20px;
  margin-bottom: -20px;
  transition: all 50ms ease-in 5ms;
}

.canvas .side-menu .open-hist {
  display: block;
  transition: all 50ms ease-in 5ms;

}
