@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* sidebar */
#side {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #229e48;
  text-align: justify;
  color:#fff;
}

#side > .logoContainer {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* margin-top: 10px; */
  margin-left: -40px;
  padding: 15px 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

#side > .divider {
  height: 1px;
  background-color: white;
}

#side > .side-menu {
  height: 75%;
}

#side > .side-menu > .side-link {
  padding: 10px 20px;
  width: 210px;
  margin: 40px auto;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 50ms ease-in 5ms;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#side > .side-menu > .historydrop-container > .history-link {
  padding: 10px 20px;
  margin: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 50ms ease-in 5ms;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#side > .side-menu > .side-link:hover,
#side > .side-menu > .historydrop-container > .history-link:hover {
  background-color: #ffff;
  border-radius: 5px;
  color:#229e48;
  transform: scaleY(1.07);
}

#side > .side-menu > .active-drop {
  background-color: #ffff;
}

#side > .side-menu > .historydrop-container {
  display: none;
  margin-left: 50px;
  margin-top: -20px;
  margin-bottom: -20px;
  transition: all 50ms ease-in 5ms;
}

#side > .side-menu > .open-history {
  display: block;
  transition: all 50ms ease-in 5ms;
  transform: scaleY(1.07);
}

.astro_social_icon {
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly !important;
}
.media_icons {
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: relative;
  width: 20vh;
}
.media_icons img {
  max-width: 100%;
}
.media_icons:hover {
  cursor: pointer;
}

/* header */
#head {
  margin-left: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#head > article {
  display: flex;
  gap: 5px;
  align-items: center;
}

#head .welcome {
  width: 25px;
  height: 25px;
  animation: mymove infinite 3s linear;
}

@keyframes mymove {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#head > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#head > div > .earning {
  display: flex;
  gap: 10px;
  align-items: center;
}
.earning button {
  padding: 10px 13px;
  background-color: #229e48;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.earning button:hover {
background-color: #fff;
color:black;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#head>div>.profileDrop {
  float: left;
  overflow: hidden;
}


#head>div>.profileDrop>.dropbtn {
  border: none;
  outline: none;
  color: black;
  /* padding-right: 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  /* Important for vertical align on mobile phones */
}



#head>div>.profileDrop>.dropbtn>.astrologer {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


#head div .profileDrop .drop-content {
  display: none;
  position: absolute;
  right: 4vmin;
  background-color: #fffefe;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  transition: all 3s;

}

#head div .drop-content .drop-link {
  float: none;
  color:black;
  padding: 12px;

  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 50ms ease-in 5ms;
}

#head div .drop-content .drop-link:hover {
  background-color: #229e48;
  border-radius: 5px;
  color: white;
}

#head div .profileDrop .toggle-content {
  display: block !important;
}