#offCanvas_chat{
  background:white !important;
  border-radius:10px;
  padding : 5px 10px;
  margin:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index:1000;
  position: fixed;
  top: 4.5rem;
  left: 1.8rem;
  width: 85%;
  height: 83%;
  display: none;
}
.left_angle{
  display: none;
  /* margin-top: 4px; */
  /* margin-left:-1rem; */
}

@media screen and (max-width: 1024px) {
  #offCanvas_chat{
    display: block;
  width: 88%;
  height: 86%;
  }
}

@media screen and (max-width: 760px) {
 .left_angle{
  display: flex;
  margin-top:30px;
  font-size: 30px;
/* margin-left:-250px; */
}
}
