.main__chatbody {
  border-radius: 10px;
  display: flex;
  padding: 20px;
  min-height: 90vh;
  margin-left: 15.5rem;
}
.sidebar_container {
  flex: 0.3;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 255, 248);
}

@media screen and (max-width: 1024px) {
  .main__chatbody {
    /* flex-direction: column; */
    /* gap: 2rem; */
    width: 100%;
    margin-left: 0px;
  }

}
  
@media screen and (max-width: 760px) {
  .sidebar_container{
   display: none; 
  }
}

@media screen and ((min-width: 760px) and (max-width: 1024px))
{
  .sidebar_container {
      display: block;
    }

    .left_angle{
      display: none !important;
    }
 
}
