.main__chatbody {
     background-color: rgb(240, 255, 243);
    border-radius: 10px;
    width: 90vw !important;
    display: flex;
    min-height:80vh;
  }
  .sidebar_container{
    flex:0.3;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;

  }
  .main__chatcontent{
    flex: 0.7;
  }
  @media screen and (max-width:900px) {
    .main__chatbody {
      /* flex-direction: column; */
      gap:2rem;

    }
    .main__chatcontent{
/* display: none; */
    }
  }

