.welcome-logo{
    height:20vw;
}
.welcome-container{
    display:flex;
    flex:0.7;
    height:83vh;
    margin-top:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:5px solid #ccf9ea;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.welcome-container > p{
    color:rgba(0,0,0,0.54);

}